RewriteEngine on

RewriteCond %{HTTP_REFERER} !^http://proyectosiil.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://proyectosiil.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.proyectosiil.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.proyectosiil.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://proyectosiil.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://proyectosiil.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.proyectosiil.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.proyectosiil.com$      [NC]
RewriteCond %{REQUEST_URI} !^/\.well-known/acme-challenge/[0-9a-zA-Z_-]+$
RewriteCond %{REQUEST_URI} !^/\.well-known/cpanel-dcv/[0-9a-zA-Z_-]+$
RewriteCond %{REQUEST_URI} !^/\.well-known/pki-validation/(?:\ Ballot169)?
RewriteCond %{REQUEST_URI} !^/\.well-known/pki-validation/[A-F0-9]{32}\.txt(?:\ Sectigo\ DCV)?$
RewriteRule .*\.(jpg|jpeg|gif|png|bmp)$ - [F,NC]
